body{
   
    background-color: coral;
}
#main{
    text-align: center;
    margin-top: 200px;
}
#main1{
text-decoration: double;
font-weight: bold;
}
#main2{
    text-decoration: double;
    font-weight: bold;
}